<h2>Galeria</h2>
        <div class="galeria">
            <img src="images/galeria/img01.jpg" alt="imag01">
            <img src="images/galeria/img02.jpg" alt="imag01">
            <img src="images/galeria/img03.jpg" alt="imag01">
            <img src="images/galeria/img04.jpg" alt="imag01">
            <img src="images/galeria/img05.jpg" alt="imag01">
            <img src="images/galeria/img06.jpg" alt="imag01">
            <img src="images/galeria/img07.jpg" alt="imag01">



        </div>