<section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, fuga esse repudiandae voluptas possimus corrupti sed quos sequi repellendus ad optio sapiente fugiat, dolores iure, soluta in pariatur minima sint.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, explicabo tempore, repellendus vero voluptas vel ipsam asperiores harum molestias voluptatibus nostrum ipsa ullam est, minus inventore odio itaque. Eaque, aut!</p>
        </section>
        <section class="staff">
            <h2>staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iusto quidem alias libero totam dicta doloremque aspernatur vel, sed nisi perferendis beatae tempora vero distinctio, eum iure commodi. Voluptates, odio!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iusto quidem alias libero totam dicta doloremque aspernatur vel, sed nisi perferendis beatae tempora vero distinctio, eum iure commodi. Voluptates, odio!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                    <h5>Roberto Zabala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iusto quidem alias libero totam dicta doloremque aspernatur vel, sed nisi perferendis beatae tempora vero distinctio, eum iure commodi. Voluptates, odio!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iusto quidem alias libero totam dicta doloremque aspernatur vel, sed nisi perferendis beatae tempora vero distinctio, eum iure commodi. Voluptates, odio!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, iusto quidem alias libero totam dicta doloremque aspernatur vel, sed nisi perferendis beatae tempora vero distinctio, eum iure commodi. Voluptates, odio!</p>
                </div>
            </div>
        </section>