<h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="avion">
            <div class="info">
                <h4>Transportes Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur facilis dolorum repellat
                    suscipit adipisci voluptatem fugit, architecto aliquid magni rerum natus consequatur totam
                    doloremque labore! Quos dolore molestias veritatis.</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="avion">
            <div class="info">
                <h4>Transportes ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur facilis dolorum repellat
                    suscipit adipisci voluptatem fugit, architecto aliquid magni rerum natus consequatur totam
                    doloremque labore! Quos dolore molestias veritatis.</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="avion">
            <div class="info">
                <h4>Transportes Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur facilis dolorum repellat
                    suscipit adipisci voluptatem fugit, architecto aliquid magni rerum natus consequatur totam
                    doloremque labore! Quos dolore molestias veritatis.</p>
            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="avion">
            <div class="info">
                <h4>Transportes Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur facilis dolorum repellat
                    suscipit adipisci voluptatem fugit, architecto aliquid magni rerum natus consequatur totam
                    doloremque labore! Quos dolore molestias veritatis.</p>
            </div>
        </div>
